.active-link{
  background-color: green;

}

a.active-link{
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}

.not-link{
  background-color: black;
}

a.not-link{
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}